@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400&subset=latin,cyrillic);
/* line 21, ../../app/stylesheets/application.scss */
.brandlogo {
  padding-left: 20px;
  padding-top: 20px;
}

/* line 26, ../../app/stylesheets/application.scss */
.topright {
  display: inline-block;
  float: left;
  line-height: 2;
}
/* line 30, ../../app/stylesheets/application.scss */
.topright i {
  padding-right: 12px;
}

/* line 35, ../../app/stylesheets/application.scss */
.toprow {
  border-bottom: 2px solid #1389bb !important;
}

/* line 39, ../../app/stylesheets/application.scss */
.bg-back-color {
  background-color: #eee;
}

/* line 42, ../../app/stylesheets/application.scss */
.bg-color {
  -moz-box-shadow: 0px -2px 4px 0px #555;
  -webkit-box-shadow: 0px -2px 4px 0px #555;
  box-shadow: 0px -2px 4px 0px #555;
  background-color: white;
}

/* line 47, ../../app/stylesheets/application.scss */
.bgtop {
  background-color: transparent;
  background-image: url(../images/bg-top.svg);
  background-size: 100% 450%;
  background-position: 40% 66%;
  display: block;
  /*   text-indent: -9999px;
    background-image: url(../images/bg-top.svg) no-repeat top left;
    background-size: 438px 153px; */
  width: 420px;
  height: 103px;
}

/* line 58, ../../app/stylesheets/application.scss */
.link {
  display: inline-block;
  float: right;
  padding-top: 12px;
}

/* line 64, ../../app/stylesheets/application.scss */
ul.nav.nav-pills {
  vertical-align: middle;
  margin-left: 25px;
}
/* line 68, ../../app/stylesheets/application.scss */
ul.nav.nav-pills li a {
  display: block;
}

/* line 74, ../../app/stylesheets/application.scss */
.category_menu {
  border-top: 2px solid #ccc;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-image: url(../images/forSprite/button_base.png);
  margin-left: -5px;
  margin-right: -4px;
  background-size: 100% 100%;
  width: 189px;
  height: 45px;
}

/* line 90, ../../app/stylesheets/application.scss */
.menu_blue {
  background-image: url(../images/forSprite/button_base_blue.png);
  background-size: 100% 100%;
}
/* line 93, ../../app/stylesheets/application.scss */
.menu_blue a {
  margin-left: 40px;
}
/* line 96, ../../app/stylesheets/application.scss */
.menu_blue:hover {
  background-image: url(../images/forSprite/button_blue.png);
  background-size: 100% 100%;
}

/* line 102, ../../app/stylesheets/application.scss */
.menu_green {
  background-image: url(../images/forSprite/button_base_green.png);
  background-size: 100% 100%;
}
/* line 105, ../../app/stylesheets/application.scss */
.menu_green a {
  margin-left: 63px;
}
/* line 108, ../../app/stylesheets/application.scss */
.menu_green:hover {
  background-image: url(../images/forSprite/button_green.png);
  background-size: 100% 100%;
}

/* line 114, ../../app/stylesheets/application.scss */
.menu_red {
  background-image: url(../images/forSprite/button_base_red.png);
  background-size: 100% 100%;
}
/* line 117, ../../app/stylesheets/application.scss */
.menu_red a {
  margin-left: -10px;
}
/* line 120, ../../app/stylesheets/application.scss */
.menu_red:hover {
  background-image: url(../images/forSprite/button_red.png);
  background-size: 100% 100%;
}

/* line 127, ../../app/stylesheets/application.scss */
ul li.menu {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  float: left;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-width: 320px;
  width: 320px;
  height: 55px;
  margin-left: -10px;
  font-size: 18px;
}
/* line 139, ../../app/stylesheets/application.scss */
ul li.menu a {
  width: 320px;
  height: 55px;
  color: #555;
}
/* line 143, ../../app/stylesheets/application.scss */
ul li.menu a:hover {
  color: #fff;
}

/* line 151, ../../app/stylesheets/application.scss */
.corner {
  position: relative;
  background-color: #0066CC;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-box-shadow: grey 2px 1px 10px;
  -webkit-box-shadow: grey 2px 1px 10px;
  box-shadow: grey 2px 1px 10px;
}
/* line 158, ../../app/stylesheets/application.scss */
.corner:after {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  border-style: solid;
  border-width: 20px 60px 0 0;
  border-color: transparent transparent white transparent;
}
/* line 171, ../../app/stylesheets/application.scss */
.corner:before {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 0px;
  right: 0px;
  border-style: solid;
  border-width: 0 0 15px 35px;
  border-color: transparent transparent white transparent;
  -moz-box-shadow: grey 2px 1px -20px;
  -webkit-box-shadow: grey 2px 1px -20px;
  box-shadow: grey 2px 1px -20px;
}
